SPARQL_ENDPOINT=http://fuseki:3030/{{ fuseki.dataset }}/sparql
ENABLE_SPARQL_ENDPOINT=true
SEARCH_METHOD=fts_fuseki
DISABLE_PREFIX_GENERATION=true
LABEL_PREDICATES=["https://schema.org/headline", "https://schema.org/name", "http://purl.org/dc/terms/title", "http://purl.org/dc/elements/1.1/title", "http://www.w3.org/2004/02/skos/core#prefLabel"]
SEARCH_PREDICATES=["http://example.org/searchFields", "observation"]
