[main]
# Development
ssl.enabled = false

[users]
{{ fuseki.username }}={{ fuseki.password }}

[urls]
## Control functions open to anyone
/$/status  = anon
/$/server  = anon
/$/ping    = anon
/$/metrics = anon

## other control functions restricted to the admin user
/$/** = authcBasic,user[{{ fuseki.username }}]

# Public sparql endpoint for read-only sparql queries
/{{ fuseki.dataset }}/sparql = anon

# Everything else restricted to the admin user
/** = authcBasic,user[{{ fuseki.username }}]
